.page {
  padding-bottom: 4rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 auto;
    max-width: var(--container-max-size);
    width: 100%;
    height: 100%;
    z-index: 0;
    padding: 0 1rem;
  }

  &__sidebar {
    height: fit-content;
    position: sticky;
    top: 1rem;
    margin-top: 5rem;
    background-color: var(--background);
    padding: 1rem;

    ul {
      li {
        padding-left: .5rem;
        font-size: 16px;
      }
    }
  }
  h1 {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    &:after {
      content: "";
      position: absolute;
      width: 80%;
      height: 5px;
      left: 0;
      bottom: 0;
      background: linear-gradient(to right, var(--color-pink) 70%, var(--color-green) 10%);
    }
  }
  &__section__title {
    position: relative;
    display: inline-block;

    &:after {
      content: "";
      position: absolute;
      background-color: var(--foreground);
      height: 2px;
      width: 70%;
      bottom: 0;
      display: block;
    }
  }


  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  h4 {
    margin-bottom: .5rem;
  }

  h2 {
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    margin-top: 3rem;
    display: inline-block;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 80%;
      height: 5px;
      left: 0;
      bottom: 0;
      background: linear-gradient(to right, var(--color-pink) 70%, var(--color-green) 10%);
    }
  }
}