.navbar {
  padding: .5rem 1rem;
  z-index: 2;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background: transparent;
  transition: all ease-in-out 250ms;

  &__container {
    display: flex;
    max-width: var(--container-max-size);
    margin: 0 auto;
    justify-content: space-between;

  }

  &__links {

    display: none;
    @media screen and (min-width: 600px) {
      display: flex;
      gap: 1rem;
    }
  }

  &__social__separator {
    margin: 0 .3rem;
    padding: 0;
    height: 100%;
    width: 1px;
    background-color: var(--foreground);
    filter: brightness(50%);
  }

  &__socialbox {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: .25rem;
    align-items: center;

    svg {
      height: 30px;

    }
    a {
      background-color: var(--background);
      border-radius: 3px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
      transition: filter ease-in-out 300ms;

      &:hover {
        filter: brightness(85%);
      }

        path {
          fill: var(--foreground);
        }
      }
  }
}