.navlink {
  position: relative;
  font-size: 4rem;
  @media screen and (min-width: 600px) {
    font-size: 1.2rem;
  }

  &:after {
    content: "";
    position: absolute;
    width: 80%;
    left: 0;
    height: 5px;

    @media screen and (min-width: 600px) {
      bottom: .2rem;
      height: 2px;
    }
  }

  &__active {
    &:after {
      background: linear-gradient( to right, var(--color-pink) 70%, var(--color-green) 10%);
    }
  }
}
