.theme__button {
  margin: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 3px;
  background-color: var(--background);

    path {
      stroke: var(--foreground);
    }
}