.theme__button {
  margin: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 3px;
  background-color: var(--background);
  box-shadow: 0 6px 10px 0 transparent;

    path {
      stroke: var(--foreground);
    }
}