.files-main {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: nowrap;
	
	.files-table {
		width: 100%;
		max-height: 800px;
		margin: 10px;
		padding: 0;

		.files-table_head {
			width: 100%;
			height: auto;
			margin: 20px 0;
			border: 1px solid transparent;
			border-bottom-color: #432;

			.files-table_head-row {
				width: inherit;
				margin: 0;
				padding: 0;

				.files-table_head-col {
					padding: 10px 0;
				}
			}
		}

		.files-table_body {
			width: inherit;
			margin: 10px 0;
			padding: 0;
	
			.files-table_body-row:nth-child(odd) {
				background: #f9f9f9;
			}

			.files-table_body-row {
				margin: 0;
				
				.files-table_body-col {
					margin: 0px 0;
					padding: 10px 0;
				}
			}
		}
	}

	.files-upload {
		display: flex;
		position: relative;
		font-family: sans-serif;
		
		&> form {
			flex-grow: 1;
		}

		.files-upload__form {
			display: flex;
			flex-direction: column;
			background: #f1f1f1;
			
			.field__img__alt {
				margin: 0 10px;
				input {
					display: block;
					font-size: 17px;
					border: 1px solid #333;
					padding: 5px;
					border-radius: 5px;
				}

				span {
					display: block;
					background: #fff;
					border-radius: 5px;
					padding: 5px;
					margin: 10px 0;
					box-sizing: content-box;
					font-weight: bold;
					font-family: inherit;
					i {
						color: red;
						padding: 0 5px 0 0;
					}
				}
			}

			.select-file {
				
				.select-file__ref {
					text-align: center;
					color: #fff;
					font-weight: bold;
					max-width: 270px;
					max-height: 270px;
					overflow: hidden;

					a {
						display: block;
						img {
							width: 100%;
							height: auto;
						}
					}
				}
				
				input[type^="file"] {
					display: none;
				}

				span {
					display: block;
					background: #fff;
					border-radius: 5px;
					padding: 5px;
					margin: 10px 0;
					box-sizing: content-box;
					font-weight: bold;
					font-family: inherit;
					i {
						color: red;
						padding: 0 5px 0 0;
					}
				}
			}

			.submit-button-w {
				margin: 10px;

				button {
					color: #fff;
					font-weight: bold;
					font-family: sans-serif;
					background: #026CB2;
					border: none;
					box-shadow: 0 0 2px 0 #000;
					width: 100%;
					font-size: 17px;
				}
			}
		}
	}
}