 .portfolio-main {
 	width: 100%;
 	height: auto;
 	margin: 0;
 	padding: 0;

  .projects-view {
    margin: 0;
    padding: 0;

    .projects__view-head {
      margin: 0;
      padding: 0;

      tr {

        th {
          padding: 5px;
          border-bottom: 1px solid #222;
        }
      }
    }

    .projects__view-body {
      margin: 0;
      padding: 0;

      tr {
        margin: 0;
        padding: 0;

        td {
          min-width: 200px;
          min-height: 100px;
          max-width: 300px;
        }

        td.title {
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
 }
