.projectsPage {

  &__container {
    max-width: var(--container-max-size);
    margin: 0 auto;
    padding: 0 1rem;
  }

  h1 {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    margin-top: 2rem;
    &:after {
      content: "";
      position: absolute;
      width: 80%;
      height: 5px;
      left: 0;
      bottom: 0;
      background: linear-gradient(to right, var(--color-pink) 70%, var(--color-green) 10%);
    }
  }


  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
    margin-top: 4rem;

    &__entity {
      margin: 0;
      background-color: var(--background);
      box-shadow: 0 10px 25px var(--shadow-color);
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__header {
        height: 1rem;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        background-blend-mode: screen;
        cursor: pointer;

        svg {
          height: 100%;
          padding: 1rem;
          opacity: .1;
          transition: opacity ease-in-out 300ms;
        }

        &:hover {
          svg {
            opacity: .7;
          }
        }
      }

      &__body {
        padding: .5rem;
        h2 {
          font-size: 1.1rem;
          margin-bottom: .4rem;
        }
        p {
          font-size: 16px;
        }

        &__button {
          display: flex;
          justify-content: flex-end;
          padding: .5rem 1rem;
          border-top: 1px solid #737373;
          background-color: var(--background);
          align-items: center;
          gap: 1rem;
          font-size: 16px;
          transition: filter ease-in-out 300ms;
          &:hover {
            filter: brightness(80%);
          }
          svg {
            height: 25px;

            path {
              fill: var(--foreground);
            }
          }
        }
      }
    }
  }

}