.avatar {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 10rem;
  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 10px 12px 0 var(--shadow-color);
  }
}