@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
html {
    touch-action: pan-x pan-y;
    @apply scroll-smooth;
}

@variant dark {
    --grid-color: var(--color-gray-700);
    --button-solid: var(--color-accent-600);

    /*Surface Tokens*/
    --surface-1: var(--color-accent-300);
    --surface-2: var(--color-gray-700);
    --surface-3: var(--color-gray-800);

    /* Foreground */
    --foreground: var(--color-white);
    --background: var(--color-gray-900);

}

@layer base {
    body {
        @apply bg-(--background) text-(--foreground);
    }

}

@theme inline {
    /*Themed tokens*/
    --foreground: var(--color-gray-900);
    --background: var(--color-white);

    /* Utilities */
    --color-accent-50: var(--color-indigo-50);
    --color-accent-100: var(--color-indigo-100);
    --color-accent-200: var(--color-indigo-200);
    --color-accent-300: var(--color-indigo-300);
    --color-accent-400: var(--color-indigo-400);
    --color-accent-500: var(--color-indigo-500);
    --color-accent-600: var(--color-indigo-600);
    --color-accent-700: var(--color-indigo-700);
    --color-accent-800: var(--color-indigo-800);
    --color-accent-900: var(--color-indigo-900);
    --color-accent-950: var(--color-indigo-950);



    --color-default-50: var(--color-gray-50);
    --color-default-300: var(--color-gray-300);
    --color-default-400: var(--color-gray-400);
    --color-default-500: var(--color-gray-500);
    --color-default-600: var(--color-gray-600);
    --color-default-700: var(--color-gray-700);
    --color-default-800: var(--color-gray-800);
    --color-default-900: var(--color-gray-900);

    --fg-default: var(--color-default-900);

    --surface-1: var(--color-indigo-100);
    --surface-2: var(--color-indigo-200);
    --surface-3: var(--color-indigo-100);

    --grid-color: var(--color-gray-300);
    --link: var(--color-white);
    --link-hover: var(--color-gray-600);

    --button-solid: var(--color-accent-500);

    --breakpoint-3xs: 16rem;
    --breakpoint-2xs: 18rem;
    --breakpoint-xs: 20rem;
    --breakpoint-sm: 24rem;
    --breakpoint-md: 28rem;
    --breakpoint-lg: 32rem;
    --breakpoint-xl: 36rem;
    --breakpoint-2xl: 42rem;
    --breakpoint-3xl: 48rem;
    --breakpoint-4xl: 56rem;
    --breakpoint-5xl: 64rem;
    --breakpoint-6xl: 72rem;
    --breakpoint-7xl: 80rem;
    /*--breakpoint-8xl: 96rem; @todo: Add support for 8xl*/

    --container-3xs: 16rem;
    --container-2xs: 18rem;
    --container-xs: 20rem;
    --container-sm: 24rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-xl: 36rem;
    --container-2xl: 42rem;
    --container-3xl: 48rem;
    --container-4xl: 56rem;
    --container-5xl: 64rem;
    --container-6xl: 72rem;
    --container-7xl: 80rem;
    /*--container-8xl: 96rem;*/

}

@utility flex-group {
    @apply flex flex-wrap gap-2;
}

@utility panel {
    @apply flex p-3 rounded-md border border-(--grid-color);
}