@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
    --foreground: var(--color-white);
    --background: var(--color-gray-800);
    --bg-secondary: var(--color-indigo-400);
    --grid: var(--color-gray-600);
}

@layer base {
    body {
        @apply dark:bg-gray-800 bg-white dark:text-gray-100 text-gray-900;
    }
}

@theme {
    --spacing: 4px;
    --color-primary: var(--color-indigo-600);
    --color-secondary: var(--color-indigo-200);
    --color-tertiary: var(--color-indigo-100);
    --foreground: var(--color-gray-900);
    --background: var(--color-white);
    --bg-secondary: var(--color-indigo-100);
    --grid: var(--color-gray-200);
    --link: var(--color-white);
    --link-hover: var(--color-gray-600);
}