:root {
  --background: #ffffff;
  --foreground: #171717;

  --dark-gray: #171717;

  --color-green: #02FF11;

  --color-pink: #e145a5;

  --color-gray: #737373;

  --menu-background: #ededed;

  --social-icon-stroke-color: #000;

  --container-max-size: 1450px;

  --font-size-lg: 4rem;

  --shadow-color: #b6b6b6;

}

[data-theme='dark'] {
  --background: #171717;
  --foreground: #ffffff;
  --menu-background: #111;
  --shadow-color: #000;
}

html,
body {
  max-width: 100vw;
  font-size: clamp(15px, 2vw, 20px);
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(var(--background) .05em,transparent .05em),linear-gradient(90deg,var(--background) .05em,transparent .05em);
  background-size: 1.5em 1.5em;
}