@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="dark"] {
    --fg-default: var(--color-white);
    --bg-default: var(--color-gray-900);
    --bg-surface: var(--color-accent-300);

    --semigrid: var(--color-gray-600);
    --statement: var(--color-accent-300);

    --button-solid: var(--color-accent-600);
}

@layer base {
    body {
        @apply bg-(--bg-default) text-(--fg-default);
    }
}

@theme {
    --color-accent-50: var(--color-indigo-50);
    --color-accent-300: var(--color-indigo-300);
    --color-accent-500: var(--color-indigo-500);
    --color-accent-600: var(--color-indigo-600);

    --color-default: var(--color-white);
    --color-default-50: var(--color-gray-50);
    --color-default-300: var(--color-gray-300);
    --color-default-900: var(--color-gray-900);

    --fg-default: var(--color-gray-900);
    --bg-default: var(--color-white);
    --bg-surface: var(--color-indigo-100);

    --semigrid: var(--color-gray-200);
    --link: var(--color-white);
    --link-hover: var(--color-gray-600);

    --button-solid: var(--color-accent-500);

    --statement: var(--color-accent-300);
}