.page {
}

.home__header {
  margin-top: 8rem;
  z-index: 10;
  img {
    margin-bottom: 2rem;
  }
  h1 {
    font-size: clamp(1.8rem, 5vw, 4rem);
  }

  p {
    font-size: 1.5rem;
    max-width: 1000px;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
}


.backdrop {
  position: fixed;
  width: 72%;
  margin-left: auto;
  height: 100%;
  right: 0;
  top: 0;
  backdrop-filter: blur(50px);
  opacity: 0;
  pointer-events: none;
  z-index: 10;

  &__active {
    pointer-events: all;
    opacity: 1;
  }
}
