@reference "../../app/globals.css";

@layer components {
    .experience-pin {
        @apply w-full h-full flex gap-3 md:gap-6;

        .experience-contributions {
            @apply flex flex-col gap-2 font-medium bg-(--surface-3) rounded-md p-3 border border-(--grid);
            li {
                @apply flex gap-1;
            }

        }
    }
    .experience-brand {
        --brand-bg: var(--color-accent-50);
        --brand-color: var(--color-accent-500);
        @apply font-semibold shadow-lg;
        @apply size-12 flex justify-center items-center rounded-md text-sm;
        @apply z-5 translate-y-3 sticky top-18 bg-(--brand-bg);
        @apply text-accent-500;

        @variant dark {
            --brand-bg: var(--color-gray-700);
            --brand-color: var(--color-gray-300)
        }
    }

}