@import "tailwindcss";

@layer components {
    .menu {
        @apply w-full relative z-10;
        @apply flex justify-between py-4;
    }

    .menu__desktop-nav {
        @apply flex justify-between gap-2 sm:gap-6 items-center;
    }

    .menu__toggle {
        @media screen and (min-width: 600px) {
            display: none;
        }
    }

    .menu__drawer {
        @apply fixed p-4 py-4 transform translate-x-0 right-0 transition-all;
        @apply bg-(--background) top-0 z-10 border border-(--grid) flex flex-col items-end;

        &.open {

            @media screen and (min-width: 600px) {
                @apply translate-x-full;
            }
        }

        &.close {
            @apply translate-x-full;
        }
    }

    .menu__brand {
        span {
            @apply text-indigo-500 px-1 font-bold;
        }
    }

    .menu__item.internal {
        @apply dark:text-blue-600;
        display: none;
        @media screen and (min-width: 600px) {
            display: flex;
        }
    }

    .menu__item.internal,
    .menu__brand {
        &:before {
            content: '#';
            @apply relative right-1 opacity-0 transition-all;
        }
    }

    .menu__item:hover,
    .menu__brand:hover {
        &:before {
            @apply text-indigo-500 opacity-100;
        }
    }
}